:root{
  --primary-color: 92, 0, 92;
  --secondary-color: 234, 96, 96;
  --light-color : #f8f9fa;
  --dark-color: rgb(27, 27, 27);
}
body{
  margin: 0;
  padding: 0;
  color: var(--light-color) !important;
  background-color: var(--light-color) !important;
}
h1,h2,h3,h4,h5,h6{
  text-transform: capitalize;
}
.bt{
  padding: 7px 10px;
  width: fit-content;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  text-transform: capitalize;
  transition: 0.3s;
}
.bt:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
a.bt{
  color: inherit;
  text-decoration: none;
}
a.bt:hover{
  color: inherit;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  background-image: linear-gradient(20deg, rgba(var(--secondary-color), 1), rgba(var(--primary-color) , 0.5));
  color: var(--light-color);
  padding: 20px;
}
nav .social-media{
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
  padding-right: 10px;
}
header{
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to bottom ,rgba(var(--secondary-color), 1), rgba(var(--primary-color) , 0.5), var(--light-color)), url("./bg.jpg");
  background-size: cover;
}
.hello{
  max-width: 600px;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-image: linear-gradient(20deg, rgba(var(--secondary-color), 0.5), rgba(var(--primary-color) , 0.2));
  border-radius: 2rem;
  padding: 30px;
}
.hello .btn{
  background-color: rgba(var(--primary-color) , 0.5);
}
main{
  color: var(--dark-color);
}
/*//////////////////////////// swiper */
.swiper {
  width: 100%;
}
.swiper .bt {
  border: 1px solid rgba(0, 0, 0, 0.37);
}
.swiper .bt:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.swiper-wrapper{
  height: auto !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/*//////////////////////////// swiper */
/*//////////////////////////// dropdown */
.dropdown .bt{
  background-color: rgba(var(--primary-color), 1);
  color: var(--light-color)
}
.dropdown ul{
  background-color: rgba(var(--secondary-color) , 1);
  padding: 0;
  border-radius: 10px;
}
.dropdown ul li{
  background-color: rgba(var(--primary-color), 1);
  overflow: hidden;
  margin: 5px;
  border-radius: 10px;
}
.dropdown ul li:hover{
  background-color: rgba(var(--primary-color) , 0.5);

}
.dropdown ul li a{
  color: var(--light-color);
}
.dropdown ul li a:hover{
  color: var(--light-color);
  background-color: inherit;
}
/*//////////////////////////// dropdown */
/*//////////////////////////// swiper image */
.mySwiper_card a{
  width: 100%;
}
.mySwiper_card .card{
  aspect-ratio: 3/4;
  overflow: hidden;
  width: 100%;
}
.mySwiper_card .card img{
  height: 100%;
  width: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-img-overlay{
  background-image: linear-gradient(to bottom, #000, transparent);
}
.swiper-button-next,  .swiper-button-prev{
  background-color: var(--light-color);
  border-radius: 50%;
  padding: 20px;
  height: auto;
  color: var(--primary-color);
  font-size: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 20px 4px rgb(0 0 0 / 56%);

}
.swiper-button-next i,  .swiper-button-prev i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-button-next:after,  .swiper-button-prev:after{
  display: none;
}
/*//////////////////////////// swiper image */
/*//////////////////////////// slider */
.slider{
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  padding: 10px;
  background-color: #fff;
}
/*//////////////////////////// slider */
.menu .card{
  border-radius: 1rem;
  overflow: hidden;
  color: var(--light-color);
  background-image: linear-gradient(20deg, rgba(var(--secondary-color), 1), rgba(var(--primary-color) , 1) 50%);
}
.menu .card .bt{
  background-color: green;
}
footer{
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  background-color: var(--dark-color);
  width: 100%;
  padding: 20px 0;
}
footer .footer_head{
  display: flex;
  gap: 30px;
}
footer .footer_head .footer_head_social, footer .footer_head .footer_head_info{
  width: 50%;
}
footer .footer_head .footer_head_social a{
  margin: 5px;
}
footer .footer_c{
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 0;
}

@media (max-width:767px) {
  footer .footer_head{
    flex-direction: column;
  }
  footer .footer_head .footer_head_social, footer .footer_head .footer_head_info{
    width: 100%;
  }
}
